<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>RSA PROJECT</title>
    <!-- font icons -->
    <link rel="stylesheet" href="static/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="static/assets/css/meyawo.css">

    <style>
        @keyframes blinking {
            0% { opacity: 1.0; }
            50% { opacity: 0.5; }
            100% { opacity: 1.0; }
        }
        .blinking {
            animation: blinking 1s infinite;
        }
        .status-circle {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-right: 5px;
        }
        .green { background-color: green; }
        #total-seats-number {
            font-size: 2em; /* Make the number larger */
            font-weight: bold; /* Make the number darker */
            color: #333; /* Dark color */
        }
    </style>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <ul class="nav">
                <li class="item ml-md-3">
                    <a href="components.html" class="btn btn-primary">Components</a>
                </li>
            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>
    </nav><!-- End of Page Navbar -->

    <!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">HI!</span>
                <span class="down">WELCOME TO TABLE TRACKER</span>
            </h1>
            <p class="header-subtitle">SEATS AVAILABLE:</p>
            <div id="total-seats-available" style="display: flex; align-items: center;">
                <div class="status-circle green blinking"></div>
                <span id="total-seats-number">0</span>
            </div>

            <a href="/dashboard" class="btn btn-primary btn-dashboard">Go to the Dashboard</a>
        </div>
    </header><!-- end of page header -->

    <!-- core  -->
    <script src="static/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="static/assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
    <script src="static/assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Meyawo js -->
    <script src="static/assets/js/meyawo.js"></script>

    <script>

        var tableSetup = {
            1: [1,4],
            2: [2,5],
            3: [3,6],
        }
        var tableNodes = {
            1: null,
            2: null,
            3: null,
            4: null,
            5: null,
            6: null,
        }

        $(document).ready(function() {
            // Periodically fetch new data every 500 milliseconds
            setInterval(function() {
                $.ajax({
                    url: "/network_topology",
                    type: "GET",
                    success: function(response) {
                        try {
                            var network_topology = JSON.parse(response);
                        } catch (error) {
                            console.log(error);
                        }
                        console.log(network_topology);
                        tableNodes = {
                            1: null,
                            2: null,
                            3: null,
                            4: null,
                            5: null,
                            6: null,
                        }
                        for (var hops in network_topology) {
                            if (network_topology.hasOwnProperty(hops)) {
                                console.log(`Hops: ${hops}`);
                                var node_ids = network_topology[hops];
                                console.log(`  Node ID: ${node_ids}`);
                                table_ids = tableSetup[hops]
                                let i = 0
                                while (i < 2 && i < node_ids.length) {
                                    console.log(`  Node ID: ${node_id = node_ids[i]}`);
                                    table_id = table_ids[i]
                                    node_id = node_ids[i]
                                    if (typeof node_id === "number" && node_id % 1 === 0) {
                                        tableNodes[table_id] = node_id
                                        i++
                                    }
                                }
                            }
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
                
                console.log("TABLE NODES")
                console.log(tableNodes)

                $.ajax({
                    url: "/get_data",
                    type: "GET",
                    success: function(response) {
                        try {
                            var data = JSON.parse(response);
                        } catch (error) {
                            console.log(error);
                        }
                        console.log("DATA")
                        console.log(data);
                        updateTables(data)
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });

            }, 1000);
        });
        function updateTables(data) {
            var totalseats = 0
            for (var id in tableNodes) {
                if (tableNodes[id] != null) {
                    node_id = tableNodes[id]
                    if (node_id in data){
                        if ("seats_available" in  data[node_id] && "seated" in  data[node_id] && "standing" in  data[node_id]){
                            totalseats += data[node_id].seats_available
                            
                        }
                        else{
                            totalseats += 0
                        }
                    }
                }
                else{
                    totalseats += 0
                }
            }

            document.getElementById("total-seats-number").innerText = totalseats;
            console.log("Total Seats: " + totalseats)   
        }
    </script>

</body>

</html>